

input:focus{
    outline:none;
}
.btn:focus, .btn:active{
    outline:none!important;
}
input[type=search].stocku{
    position: relative;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 3px 2px 3px;
}

input[type=button].stocku{
    position: relative;
    width: 25px;
    height: 25px;
    border: 0.1px solid #ccc;
    border-radius: 4px;
    padding: 1px 2px 1px 2px;
}



input[type=date].stocku{
    position: relative;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 3px 2px 3px;
}


input[type="date"].stocku::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

input[type=number].stocku{
    width: 50px;
}

#stockNameMsg {
    font-size:30px;
    font-weight: bold;
}