#chartdiv{
    width       : 100%;
    height      : 400px;
    font-size   : 11px;
}
#legenddiv{
    height: 100px ; /* force that height */
    overflow: auto;
    position: relative;
    margin: 5px 0 20px 0;
}

#trackerInterval{
    width       :40px;
}

input:focus{
    outline:none;
}
input[type=search]{
    position: relative;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 3px 2px 3px;
}

input[type=button]{
    position: relative;
    width: 25px;
    height: 25px;
    border: 0.1px solid #ccc;
    border-radius: 4px;
    padding: 1px 2px 1px 2px;
}



input[type=date]{
    position: relative;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 3px 2px 3px;
}


input[type="date"]::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

input[type=number]{
    width: 50px;
}
